.information {
  text-align: center;
}

.information__title {
  font-size: var(--fs-300);
}

.information__content {
  display: grid;
  gap: var(--gap);
}

.information__card {
  min-width: 16rem;
}


@media (min-width: 40em) {
  .information__content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 64em) {
  .information__content {
    grid-template-columns: repeat(4, 1fr);
  }
}
